/* base style*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial";
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.site-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.block-padding {
    padding: 50px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* base elements */
.block-white {
    background-color: #fff;
}

/* base elements */
.block-gray {
    background-color: #445161;
}

/* header */
header {
    background-color: #445162;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 44px;
}

.product {
    margin-left: -3px;
}

.product ul {
    padding-left: 39px;
    padding-top: 34px;
}

.product ul li {
    list-style-image: url(img/check_icon.png);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
}

header .block-white {
    width: 469px;
    height: 214px;
}

/* about */

.about {
    background-color: #fff;
}


.about article h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

.about article p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about article p:nth-child(2) {
    padding-bottom: 20px;
}

.about .block-gray {
    width: 430px;
    height: 245px;
}

/* dignity */

.dignity {
    background-color: #f5f5f5;
}

.dignity article h2 {
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 29px;
}

/*.dignity article ul {
    width: 568px;
    float: left;
}*/

/*.dignity article ul:nth-child(3) {
    margin-left: 22px;
}*/

.dignity article li {
    list-style-type: none;
    background-image: url(img/2-layers.jpg);
    background-repeat: no-repeat;
    padding-left: 41px;
    background-position: 0px 3px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.dignity article li:nth-child(n+2) {
    padding-top: 24px;
    background-position: 0px 27px;
}

/*.dignity article li:nth-child(even) {
    margin-left: 19px;
}*/

/* screenshots */
/*.screenshots {
    background-color: #fff;
}*/

.screenshots h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    padding-bottom: 35px;
    width: 100%;
}


/*.screenshots article:nth-of-type(odd) {
    margin-right: 16px;
}*/

.screenshots article:nth-of-type(n+2) {
    margin-top: 30px;
}

.screenshots img {
    width: 200px;
    height: 150px;
    float: left;
    padding-right: 15px;

}


.screenshots h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.screenshots p {
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
}


/* reviews */

.reviews {
    background-color: #f5f5f5;
    position: relative;
}

.reviews h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    padding-bottom: 35px;
    width: 100%;
}

.reviews .reviews-blocks {
    /*   float: left;
    width: calc(50% - 8px);*/
    display: flex;
    justify-content: center;
}

/*.reviews .reviews-blocks:nth-of-type(odd) {
    margin-right: 16px;
}*/

.reviews .reviews-blocks:nth-of-type(n+2) {
    margin-top: 24px;
}

.reviews .reviews-blocks img {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 15px;
}

.reviews .reviews-blocks-text {
    background-color: #ebebeb;
    padding: 15px 20px 15px 15px;
    float: left;
    width: 437px;
    border-radius: 5px;
    position: relative;
    text-align: justify;
}



.reviews .reviews-blocks-text p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-style: italic;
}

.reviews .reviews-blocks-text p:last-of-type {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 15px;
}

.reviews .reviews-blocks-text .romb {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ebebeb;
    transform: rotate(45deg);
    left: -10px;
    top: 30px;

}


/* buy */
.buy {
    background-color: #fff;
}

.buy h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    padding-bottom: 35px;
}

.buy .buyblocks {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.buy .buyblocks .buyblock:nth-of-type(n+2) {

    margin-top: 30px;

}

.buy .buyblocks .buyblock {

    background-color: #445162;
    border-radius: 5px;

}

.buy .buyblocks .buyblock h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.buy .buyblocks .buyblock .buyblockprice {
    height: 71px;
    border: 2px solid #445162;
    background-color: #fff;
}

.buy .buyblocks .buyblock .buyblockprice p {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    line-height: 71px;
    text-align: center;
}

.buy .buyblocks .buyblock .buyblocktext {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.buy .buyblocks .buyblock .buyblocktext ol {
    margin-left: 20px;
}

.buy .buyblocks .buyblock .buyblocktext li {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buy .buyblocks .buyblock a {
    width: calc(100% - 40px);
    height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #445161;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* footer*/

.footer {
    background-color: #445162;
}

.footer h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    padding-bottom: 35px;
    width: 100%;
}

.footer .contacts {
    display: block;
}

.footer .contacts input {
    /* Style for "Shape 4" */
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.footer .contacts input[type="email"],
input[type="submit"],
textarea {
    margin-top: 21px;

}



.footer .contacts input[type="text"],
input[type="email"] {
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer .contacts textarea {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Arial;
}

.footer .contacts p:last-of-type {
    text-align: center;
}

.footer .contacts input[type="submit"] {
    width: 140px;
    height: 40px;
    background-color: #fff;
    color: #445162;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}

.contact-list {
    padding-top: 25px;
}

.contact-list > div:nth-last-of-type(n+2) {
    margin-left: calc(50% - 100px);
}

.contact-list div {
    height: 27px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;

}

.contact-list div:not(.media) {
    margin-bottom: 18px;
    padding-left: 30px;
    line-height: 27px;
}

.skype {
    background: url(img/skype_icon.png) no-repeat left center;

}

.icq {
    background: url(img/icq_icon.png) no-repeat left center;

}

.email {
    background: url(img/email_icon.png) no-repeat left center;

}

.phone {
    background: url(img/phone_icon.png) no-repeat left center;

}


.media {
    justify-content: center;
}

.media p {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 6px;
}

.media p i {
    font-size: 20px;
    padding-top: 12px;
    color: #445162;
}


.copy {
    text-align: center;
    line-height: 26px;
}

/* ------------Lesson 3 add-in's------------ */

/*video*/

/*.video-block{
       width: 100%;
     max-width: 100%; 
    margin: auto;
    display: block;
    position: relative; 
}*/

.video-block1{
       width: 100%;
     max-width: 100%; 
    margin: auto;
    display: block;
    position: relative; 
}
.video-block .video1 video{
       width: 100%; 
}
.video-block1 .video2 video {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    height: 1050px;
}
.screenshots{
position: absolute;
    top: 0;
    display: flex;
   /* height: 100%;*/
}





/* Bootstrap overrides */
ol,
ul {
    margin-bottom: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-12,
.col-lg-6 {
    padding-right: 0px;
    padding-left: 0px;
}
.container{
width: 540px;
}

p,
h2,
h3 {
    margin-bottom: 0px;
}

/* media query */

@media (min-width: 576px){
.container {
    width: unset;
    }

}
@media (min-width: 768px) {
    .dignity article li {
        float: left;
        width: calc(50% - 10px);

    }

    .dignity article ul:nth-child(3) {
        margin-left: 22px;
    }

    .dignity article li:nth-child(2) {
        padding-top: 0px;
        background-position: 0px 3px;
    }

    .dignity article li:nth-child(n+3) {
        padding-top: 24px;
        background-position: 0px 27px;
    }

    .dignity article li:nth-child(even) {
        margin-left: 19px;
    }

    .footer .contacts {
        display: flex;
    }
    
     .video-block1 .video2 video {
        max-height: 850px;
}   
}

@media (min-width: 992px) {
/*    video {
        width: 960px;
    }*/

    .screenshots article {
        max-width: calc(50% - 8px);

    }

    .screenshots article:nth-of-type(odd) {
        margin-right: 16px;
    }

    .screenshots article:nth-of-type(2) {
        margin-top: 0px;
    }

    .screenshots article:nth-of-type(n+3) {
        margin-top: 30px;
    }

    .reviews .reviews-blocks {

        display: block;
        justify-content: unset;
        float: left;
    }

    .reviews .reviews-blocks:nth-of-type(2) {
        margin-top: 0px;
    }

    .reviews .reviews-blocks:nth-of-type(n+3) {
        margin-top: 24px;
    }

    .reviews .reviews-blocks img {
        margin-right: 20px;
    }

    .reviews .reviews-blocks-text {

        width: unset;
        max-width: 77%;
    }

    .buy {
        padding-left: 5px;
        padding-right: 5px;
    }

    .buy .buyblocks {
        margin: 0 auto;
        width: unset;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
    }

    .buy .buyblocks .buyblock {

        background-color: #445162;
        border-radius: 5px;
        width: 300px;
    }

    .buy .buyblocks .buyblock:nth-of-type(n+2) {

        margin-top: 0px;

    }

    .buy .buyblocks .buyblock a {
        width: 260px;
    }



    .footer .contacts textarea,
    input {
        width: 500px;
    }

    .footer .contacts input {
        width: 500px;
    }

    .footer form {
        margin-left: 0px;
        max-width: 500px;
    }

.contact-list > div:nth-last-of-type(n+2) {
     margin-left: 0px;
}    
    
   .media {
    justify-content: unset;
}
    .footer .contact-list{
        padding-left: 46px;
    max-width: 34%;}
    
    .video-block1 .video2 video {
        max-height: 570px;
}
    
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
 /*     video {
        width: 1140px;
    }*/

    .buy .buyblocks {
        width: 990px;
    }

    .footer form {
        margin-left: 16.666666%;
    }
    
    .footer .contact-list{
        max-width: 30%;
    }
    
       .video-block1 .video2 video {
            max-height: 500px;
}
}
@media (min-width: 1290px) {
    .container {
        max-width: 1280px;
    }

}
